body,
html {
  height: 100%;
}

body {
  font-family: "Khand", sans-serif;
  background: #6dbae5;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Arima", cursive;
  font-size: 56px;
  color: #6dbae5;
  margin: 0;
  line-height: 1.25em;
}

main {
  position: relative;
  width: 900px;
  height: 500px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 50px 50px 50px 50px;
}

header {
  flex: 1 1 auto;
}

.main-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  text-align: right;
}

.photo {
  border-radius: 50%;
  border: 4px solid #6dbae5;
}

.role {
  font-size: 32px;
  color: #213140;
  text-align: right;
  margin: 0;
}

.left-bottom {
  position: absolute;
  left: 50px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  font-size: 24px;
}

.left-bottom > div,
.right-bottom > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-bottom a,
.right-bottom a {
  color: inherit;
}

.left-bottom a:hover,
.right-bottom a:hover {
  text-decoration: none;
}

.right-bottom {
  position: absolute;
  right: 50px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  font-size: 24px;
}

.cv {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 10px 50px;
  border-radius: 50px;
  text-align: center;
  background: #9fe27f;
  border: 4px solid #298200;
  transform: translate(-50%, 50%);
  font-weight: 600;
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  color: #298200;
  transition: all 0.3s;
}

.cv a {
  color: inherit;
  text-decoration: none;
}

.cv:hover {
  color: #ff7a00;
  background: #e2ae7f;
  border: 4px solid #ff7a00;
}
